<form [formGroup]="kidsForm" (ngSubmit)='onSubmit()' #kids>
  <label>Do you have children?</label>
  <div *ngFor='let child of children'>
    <label><input type='radio' [value]='child' formControlName='child'>{{child}}</label>
  </div>
  <div *ngIf='kidsForm.get("child").value == "Yes"'>
    <label>Enter number of children</label>
    <input type='number' formControlName='childrenCount'>
    <span *ngIf='!kidsForm.get("childrenCount").valid && kidsForm.get("childrenCount").touched'>Please enter some value</span>
  </div>
</form>

<form [formGroup]='detailsForm' (ngSubmit)='onSubmit()' *ngIf="kidsForm.get('childrenCount').value>0" #detail>
  <div *ngFor='let title of titles'>
    <label><input type='radio' [value]='title' formControlName='title'>{{title}}</label>
  </div>
  <div>
    <label>First Name</label>
    <input type='text' formControlName='firstName'>
    <span *ngIf='!detailsForm.get("firstName").valid && detailsForm.get("firstName").touched'>Please enter valid First
      Name</span>
  </div>
  <div>
    <label>Last Name</label>
    <input type='text' formControlName='lastName'>
    <span *ngIf='!detailsForm.get("lastName").valid && detailsForm.get("lastName").touched'>Please enter valid First
      Name</span>
  </div>

  <!-- [disabled]='detailsForm.invalid' -->
  <button type="submit">Submit</button>
</form>
<!--
/*


children -> yes/no
yes-> howmany -> loop </form/>
no-> nothng -->
