<form [formGroup]='detailsForm' (ngSubmit)='onSubmit()' #detail>
  <div>
    <label>Do you have children?</label>
    <div *ngFor='let child of children'>
      <label><input type='radio' [value]='child' formControlName='child' (change)="childValue()">{{child}}</label>
    </div>
  </div>
  <div *ngIf='hasChild == "Yes"'>
    <label>Enter number of children</label>
    <input type='number' formControlName='childrenCount' (input)="childCountChange($event)">
  </div>
  <div *ngFor='let item of formArrayValue.controls;let i = index;'>
    <div [formGroup]='item'>
      <div>
        <label>Title (Mr./Ms.)</label>
        <input type='text' formControlName='title'>
        <div *ngIf="item.controls.title.errors">
          <div *ngIf="item.controls.title.errors.required">Title is required</div>
          <div *ngIf="item.controls.title.errors.pattern">Title must be a alphanumeric</div>
          <div *ngIf="item.controls.title.errors.minlength">Title must atleat two characters</div>
        </div>
      </div>
      <div>
        <label>First Name</label>
        <input type='text' formControlName='firstName'>
        <div *ngIf="item.controls.firstName.errors">
          <div *ngIf="item.controls.firstName.errors.required">First Name is required</div>
          <div *ngIf="item.controls.firstName.errors.pattern">First Name must be a alphanumeric</div>
          <div *ngIf="item.controls.firstName.errors.minlength">First Name must atleat two characters</div>
        </div>
      </div>
      <div>
        <label>Last Name</label>
        <input type='text' formControlName='lastName'>
        <div *ngIf="item.controls.lastName.errors">
          <div *ngIf="item.controls.lastName.errors.required">Last Name is required</div>
          <div *ngIf="item.controls.lastName.errors.pattern">Last Name must be a alphanumeric</div>
          <div *ngIf="item.controls.lastName.errors.minlength">Last Name must atleat two characters</div>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" [disabled]='detailsForm.invalid'>Submit</button>
</form>
